/* CSS Document */

/* Navigation Menu CSS */

.Menu1_1 {
  padding-left: 0px !important;
  padding-right: 12px !important;
}
.ctl00_Menu1_1 {
  padding-left: 0px !important;
  padding-right: 12px !important;
}
#navigation .staticMenuItem {
  color: #fff;
  width: 195px;
  padding: 5px;
  vertical-align: middle;
  background-color: #4e9258;
  text-decoration: none;
  text-align: left;
}
#navigation .staticMenuHover {
  color: #ffffff;
  background-color: #387c44;
  text-align: left;
}
#navigation .staticSelectedMenuItem {
  color: #800517;
  background-color: #fff;
}
#navigation .dynamicMenu {
  color: #ffffff;
  background-color: #005cab;
  z-index: 1000; /*For IE8*/
  margin-top: 5px;
  text-align: left;
}
#navigation .dynamicMenuItem {
  font: normal 12px Verdana, Geneva, sans-serif;
  font-weight: normal;
  width: 195px; /*width of sub menus*/
  padding: 3px;
  vertical-align: middle;
  margin: 0px;
  border-top-width: 0px;
  border-bottom: 1px solid #359dfb;
  color: #fff;
  float: left;
  text-align: left;
}
#navigation .dynamicMenuItem1 {
  font: normal 12px Verdana, Geneva, sans-serif;
  font-weight: bold;
  width: 195px; /*width of sub menus*/
  padding: 3px;
  vertical-align: middle;
  margin: 0px;
  border-top-width: 0px;
  border-bottom: 1px solid #359dfb;
  color: #fff;
  float: left;
  text-align: left;
}
#navigation .dynamicMenuHover {
  background-color: #0188e0;
  font-weight: normal;
}
#navigation .dynamicSelectedMenuItem {
  color: #69c430;
  background-color: #fff;
}
#navigation .menu:first-child {
  margin-left: 0;
}
#navigation .menu:last-child {
  margin-right: 0;
}
#navigation1 {
  color: #ffffff;
  z-index: 1000; /*For IE8*/
  margin-top: 1px;
  width: 155px;
  font: normal 12px Verdana, Geneva, sans-serif;
  font-weight: normal;
  line-height: 33px;
}
#navigation1 .staticMenu {
  color: #ffffff;
  background-color: #005cab;
  z-index: 1000; /*For IE8*/
  margin-top: 1px;
  width: 155px;
  font: normal 12px Verdana, Geneva, sans-serif;
  font-weight: normal;
}
#navigation1 .staticMenuItem {
  color: #fff;
  width: 155px;
  padding: 5px;
  vertical-align: middle;
  background-color: #005cab;
  text-decoration: none;
  text-align: left;
  font: normal 12px Verdana, Geneva, sans-serif;
  font-weight: normal;
  border-bottom: 1px solid #359dfb;
}
#navigation1 .StaticHoverStyle {
  color: #ccc;
  background-color: #0188e0;
  width: 155px;
  font: normal 12px Verdana, Geneva, sans-serif;
  font-weight: normal;
}
#navigation1 .StaticSelectedStyle {
  color: #ccc;
  padding: 2px;
}
#navigation1 .dynamicMenu {
  color: #ffffff;
  background-color: #005cab;
  z-index: 1000; /*For IE8*/
  margin-top: 5px;
}
#navigation1 .dynamicMenuItem {
  font: normal 12px Verdana, Geneva, sans-serif;
  font-weight: normal;
  width: 155px; /*width of sub menus*/
  padding: 15px;
  vertical-align: middle;
  margin: 0px;
  border-top-width: 0px;
  border-bottom: 1px solid #359dfb;
  color: #fff;
  float: left;
}
#navigation .staticMenuItem a {
  float: left;
  margin: 0px;
  padding: 18px 6px;
  font-family: Calibri, Arial;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
#navigation1 .dynamicMenuItem1 {
  font: normal 12px Verdana, Geneva, sans-serif;
  font-weight: normal;
  width: 155px; /*width of sub menus*/
  padding: 3px;
  vertical-align: middle;
  margin: 0px;
  border-top-width: 0px;
  border-bottom: 1px solid #359dfb;
  color: #fff;
  float: left;
}
#navigation1 .dynamicMenuHover {
  background-color: #0188e0;
  font-weight: normal;
  width: 155px;
}
#navigation .dynamicSelectedMenuItem {
  color: #69c430;
  background-color: #fff;
}
#navigation .StaticMenuItemStyle {
  color: #69c430;
  background-color: #fff;
}
#navigation .dynamicSelectedMenuItem {
  color: #69c430;
  background-color: #fff;
}
#navigation .dynamicSelectedMenuItem {
  color: #69c430;
  background-color: #fff;
}
#navigation1 .menu:first-child {
  margin-left: 0;
}
#navigation1 .menu:last-child {
  margin-right: 0;
}
